@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --light-yellow: #FFD700;
    --dark-gray: #a7a6a6;
    /*--red: rgb(240, 57, 57);*/
    --dark-blue: #024383;
    --red: rgb(34, 31, 31);
    --dark-gray: #454545;
    --green: #31e846;
  }

/* Footer */

footer{
    width: 98%;
    padding: 20px;
    background-color: var(--dark-gray);
    font-size: 16px;
    color :  white;
  }
  .footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.15s;
  }
  
  .footer a,li:hover{
    transform: translateX(1%);
    transition: 0.15s;
    color: var(--light-yellow);
  }
  
  .footer li{
    margin: 10px;
  }
  
  .footer ul{
    padding-left: 20px;
  }
  
  .items{
    width: 350px;
    padding: 15px;
    height: 250px;
  }
  
  .icon{
    display: flex;
    align-items: center;
  }
  
  .icon img{
    width: 25px;
    margin: 5px;
  }
  
  .network{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .network img{
    width: 35px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
  }
  
  .network img:hover{
    filter: grayscale(0%);
  }
  
  .subfooter{
    margin-top: 20px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
  }