:root {
    --white: #FFFFFF;
    --light-yellow: #FFD700;
    --dark-gray: #a7a6a6;
    --aka: rgb(240, 57, 57);
    --dark-aka: rgb(224, 18, 18);
    --dark-blue: #0659ad;
    --red: rgb(36, 36, 36);
    --dark-gray: #3d3d3d;
    --green: #31e846;
  }